<div class="card">
  <div class="card__header card__header--minimal">
    <h2>Recent Properties for Sale</h2>
    <small>Nunc urnami tempor eget ipsum eurutrum gravida tellus</small>
  </div>

  <div class="grid-widget grid-widget--listings">
    <div class="col-xs-6">
      <a class="grid-widget__item" href="listing-detail.html">
                          <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">

                          <div class="grid-widget__info">
                              <h3>$3,452,000</h3>
                              <small>4313 Beverly Hills, CA 90210</small>
                          </div>
                      </a>
    </div>
    <div class="col-xs-6">
      <a class="grid-widget__item" href="listing-detail.html">
                          <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">

                          <div class="grid-widget__info">
                              <h3>$990,000</h3>
                              <small>San Francisco, CA 937202</small>
                          </div>
                      </a>
    </div>
    <div class="col-xs-6">
      <a class="grid-widget__item" href="listing-detail.html">
                          <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">

                          <div class="grid-widget__info">
                              <h3>1,500,000</h3>
                              <small>21 Shop St, San Francisco</small>
                          </div>
                      </a>
    </div>
    <div class="col-xs-6">
      <a class="grid-widget__item" href="listing-detail.html">
                          <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">

                          <div class="grid-widget__info">
                              <h3>$1,650,690</h3>
                              <small>13 Beverly Hills, CA 01210</small>
                          </div>
                      </a>
    </div>
  </div>

  <a class="view-more" href="grid-listings.html">
                  View all properties for sale <i class="zmdi zmdi-long-arrow-right"></i>
              </a>
</div>