<div class="card">
    <div class="card__header card__header--minimal">
        <h2>Recent Properties for Sale</h2>
        <small>Nunc urnami tempor eget ipsum eurutrum gravida tellus</small>
    </div>

    <div class="grid-widget grid-widget--listings">
        <div *ngFor="let property of recentPropertiesForSale" class="col-xs-6">
            <a class="grid-widget__item" href="listing-detail.html">
                <img src="./assets/demo-images/listings/{{property.thumbnail}}" width="400" height="266" class="img-responsive" alt="">
                <div class="grid-widget__info">
                    <h3>{{property.price | currency:'USD':true}}</h3>
                    <small>{{property.address}}</small>
                </div>
            </a>
        </div>
    </div>

    <a class="view-more" href="grid-listings.html">
        View all properties for sale
        <i class="zmdi zmdi-long-arrow-right"></i>
    </a>
</div>