<div class="card">
  <div class="card__header card__header--minimal">
    <h2>Properties by top locations</h2>
    <small>Pellentesque habitant morbi tristique senectus et netus et malesuada</small>
  </div>

  <div class="grid-widget grid-widget--listings">
    <div class="col-xs-4">
      <a class="grid-widget__item" href="">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>San Francisco, CA</h4>
                              <small>1560 Listings</small>
                          </div>
                      </a>
    </div>
    <div class="col-xs-4">
      <a class="grid-widget__item" href="">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>San Jose, CA</h4>
                              <small>1232 Listings</small>
                          </div>
                      </a>
    </div>
    <div class="col-xs-4">
      <a class="grid-widget__item" href="">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>Denver, CO</h4>
                              <small>1103 Listings</small>
                          </div>
                      </a>
    </div>
    <div class="col-xs-4">
      <a class="grid-widget__item" href="">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>San Diego, CA</h4>
                              <small>1100 Listings</small>
                          </div>
                      </a>
    </div>
    <div class="col-xs-4">
      <a class="grid-widget__item" href="">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>Dallas, TX</h4>
                              <small>988 Listings</small>
                          </div>
                      </a>
    </div>
    <div class="col-xs-4">
      <a class="grid-widget__item" href="">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>Dallas, TX</h4>
                              <small>921 Listings</small>
                          </div>
                      </a>
    </div>
    <div class="col-xs-4">
      <a class="grid-widget__item" href="">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>Los Angeles, CA</h4>
                              <small>888 Listings</small>
                          </div>
                      </a>
    </div>
    <div class="col-xs-4">
      <a class="grid-widget__item" href="">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>Nashville, TN</h4>
                              <small>743 Listings</small>
                          </div>
                      </a>
    </div>
    <div class="col-xs-4">
      <a class="grid-widget__item" href="">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>Palm Bay, FL</h4>
                              <small>655 Listings</small>
                          </div>
                      </a>
    </div>
  </div>

  <a class="view-more" href="grid-listings.html">
                  View all locations <i class="zmdi zmdi-long-arrow-right"></i>
              </a>
</div>