<div class="header__search container">
  <form>
    <div class="search">
      <div class="search__type dropdown">
        <a href="" data-toggle="dropdown">Rent</a>

        <div class="dropdown-menu">
          <div>
            <input type="radio" name="property-type" value="rent">
            <span>Rent</span>
          </div>
          <div>
            <input type="radio" name="property-type" value="buy">
            <span>Buy</span>
          </div>
        </div>
      </div>

      <div class="search__body">
        <input type="text" class="search__input" placeholder="This is the new version" data-rmd-action="advanced-search-open">

        <div class="search__advanced">
          <div class="col-sm-6">
            <div class="form-group form-group--float">
              <input type="text" class="form-control" value="New York, NY">
              <label>Location</label>
              <i class="form-group__bar"></i>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label>Ownership Type</label>

              <select class="select2">
                                    <option value="">Single Family Home</option>
                                    <option value="">Condo</option>
                                    <option value="">Townhome</option>
                                    <option value="">Apartment Community</option>
                                    <option value="">Room</option>
                                </select>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group form-group--range">
              <label>Price Range</label>
              <div class="input-slider-values clearfix">
                <div class="pull-left"><span>$</span><span id="property-price-upper"></span></div>
                <div class="pull-right"><span>$</span><span id="property-price-lower"></span></div>
              </div>
              <div id="property-price-range"></div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group form-group--range">
              <label>Area Size (sqft)</label>
              <div class="input-slider-values clearfix">
                <div class="pull-left" id="property-area-upper"></div>
                <div class="pull-right" id="property-area-lower"></div>
              </div>
              <div id="property-area-range"></div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label>Bedrooms</label>
              <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn">
                                        <input type="checkbox" name="advanced-search-beds" id="bed1">1
                                    </label>
                <label class="btn active">
                                        <input type="checkbox" name="advanced-search-beds" id="bed2" checked>2
                                    </label>
                <label class="btn">
                                        <input type="checkbox" name="advanced-search-beds" id="bed3">3
                                    </label>
                <label class="btn">
                                        <input type="checkbox" name="advanced-search-beds" id="bed4">4
                                    </label>
                <label class="btn">
                                        <input type="checkbox" name="advanced-search-beds" id="bed5">4+
                                    </label>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label>Bathrooms</label>
              <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn active">
                                        <input type="checkbox" name="advanced-search-baths" id="bath1" checked>1
                                    </label>
                <label class="btn">
                                        <input type="checkbox" name="advanced-search-baths" id="bath2">2
                                    </label>
                <label class="btn">
                                        <input type="checkbox" name="advanced-search-baths" id="bath3">3
                                    </label>
                <label class="btn">
                                        <input type="checkbox" name="advanced-search-baths" id="bath4">4
                                    </label>
                <label class="btn">
                                        <input type="checkbox" name="advanced-search-baths" id="bath5">4+
                                    </label>
              </div>
            </div>
          </div>

          <div class="col-xs-12 m-t-10">
            <button class="btn btn-primary">Search</button>
            <button class="btn btn-link" data-rmd-action="advanced-search-close">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>