<div class="card">
  <div class="card__header card__header--minimal">
    <h2>Properties by Agents</h2>
    <small>Duis congue placerat libero in tristique dignissim posuere</small>
  </div>

  <div class="grid-widget grid-widget--listings">
    <div class="col-xs-4">
      <a class="grid-widget__item" href="agent-detail.html">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>David Willson</h4>
                              <small>154 Listings</small>
                          </div>
                      </a>
    </div>

    <div class="col-xs-4">
      <a class="grid-widget__item" href="agent-detail.html">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>Mallinda Hollaway</h4>
                              <small>143 Listings</small>
                          </div>
                      </a>
    </div>

    <div class="col-xs-4">
      <a class="grid-widget__item" href="agent-detail.html">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>Priscilla Erickson</h4>
                              <small>121 Listings</small>
                          </div>
                      </a>
    </div>

    <div class="col-xs-4">
      <a class="grid-widget__item" href="agent-detail.html">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>Randolph Barnett</h4>
                              <small>112 Listings</small>
                          </div>
                      </a>
    </div>

    <div class="col-xs-4">
      <a class="grid-widget__item" href="agent-detail.html">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>Bradford Watson</h4>
                              <small>98 Listings</small>
                          </div>
                      </a>
    </div>

    <div class="col-xs-4">
      <a class="grid-widget__item" href="agent-detail.html">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>Mauris congue ex quis est dictum iaculis</h4>
                              <small>83 Listings</small>
                          </div>
                      </a>
    </div>

    <div class="col-xs-4">
      <a class="grid-widget__item" href="agent-detail.html">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>Mauris congue ex quis est dictum iaculis</h4>
                              <small>80 Listings</small>
                          </div>
                      </a>
    </div>

    <div class="col-xs-4">
      <a class="grid-widget__item" href="agent-detail.html">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>Mauris congue ex quis est dictum iaculis</h4>
                              <small>62 Listings</small>
                          </div>
                      </a>
    </div>

    <div class="col-xs-4">
      <a class="grid-widget__item" href="agent-detail.html">
                          <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="">

                          <div class="grid-widget__info">
                              <h4>Mauris congue ex quis est dictum iaculis</h4>
                              <small>59 Listings</small>
                          </div>
                      </a>
    </div>
  </div>

  <a class="view-more" href="agents.html">
                  View all agents <i class="zmdi zmdi-long-arrow-right"></i>
              </a>

</div>