<app-header></app-header>
<section class="section">
  <div class="container">
    <app-home-total-title></app-home-total-title>

    <div class="row">
      <div class="col-md-6">
        <app-card-recent-sale></app-card-recent-sale>
      </div>

      <div class="col-md-6">
        <app-card-recent-rent></app-card-recent-rent>
      </div>

      <div class="col-md-6">
        <app-card-top-locations></app-card-top-locations>
      </div>

      <div class="col-md-6">
        <app-card-properties-agents></app-card-properties-agents>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>