<div class="header__recommended">
  <div class="my-location">
    <div class="my-location__title">Properties nearby your location</div>
    <div class="dropdown my-location__location hidden-xs">
      <a href="" data-toggle="dropdown"><i class="zmdi zmdi-pin"></i> San Francisco County, CA</a>

      <div class="dropdown-menu pull-right stop-propagate">
        <strong>Change Location</strong>
        <small>Set your location to get list of properties nearby you</small>

        <form>
          <div class="form-group form-group--float">
            <input type="email" class="form-control" placeholder="Enter City, State, Zip">
            <i class="form-group__bar"></i>
          </div>

          <div class="my-location__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84147.43307199534!2d-74.15863267618451!3d40.71380993356828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2slk!4v1465216708326"
              style="border:0; width: 100%; height: 250px;" allowfullscreen></iframe>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="listings-grid">
    <div class="listings-grid__item">
      <a href="listing-detail.html">
        <div class="listings-grid__main">
          <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
          <div class="listings-grid__price">$1,175,000</div>
        </div>

        <div class="listings-grid__body">
          <small>21 Shop St, San Francisco</small>
          <h5>Integer tempor luctus maximus</h5>
        </div>

        <ul class="listings-grid__attrs">
          <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 03</li>
          <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 02</li>
          <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 02</li>
        </ul>
      </a>

      <div class="actions listings-grid__favorite">
        <div class="actions__toggle">
          <input type="checkbox">
          <i class="zmdi zmdi-favorite-outline"></i>
          <i class="zmdi zmdi-favorite"></i>
        </div>
      </div>
    </div>

    <div class="listings-grid__item">
      <a href="listing-detail.html">
        <div class="listings-grid__main">
          <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
          <div class="listings-grid__price">$1,200,000</div>
        </div>

        <div class="listings-grid__body">
          <small>Beverly Hills, CA 90210</small>
          <h5>Duis sollicitudin ante bibendum</h5>
        </div>

        <ul class="listings-grid__attrs">
          <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 03</li>
          <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 03</li>
          <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 01</li>
        </ul>
      </a>

      <div class="actions listings-grid__favorite">
        <div class="actions__toggle">
          <input type="checkbox">
          <i class="zmdi zmdi-favorite-outline"></i>
          <i class="zmdi zmdi-favorite"></i>
        </div>
      </div>
    </div>

    <div class="listings-grid__item">
      <a href="listing-detail.html">
        <div class="listings-grid__main">
          <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
          <div class="listings-grid__price">$910,000</div>
        </div>

        <div class="listings-grid__body">
          <small>132 04th St, San Francisco</small>
          <h5>Fusce quis libero nonorcious</h5>
        </div>

        <ul class="listings-grid__attrs">
          <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 02</li>
          <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 01</li>
          <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 01</li>
        </ul>
      </a>

      <div class="actions listings-grid__favorite">
        <div class="actions__toggle">
          <input type="checkbox">
          <i class="zmdi zmdi-favorite-outline"></i>
          <i class="zmdi zmdi-favorite"></i>
        </div>
      </div>
    </div>

    <div class="listings-grid__item">
      <a href="listing-detail.html">
        <div class="listings-grid__main">
          <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
          <div class="listings-grid__price">$2,542,000</div>
        </div>

        <div class="listings-grid__body">
          <small>132 Lockslee, San Francisco</small>
          <h5>Pellentesque habitant</h5>
        </div>

        <ul class="listings-grid__attrs">
          <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 05</li>
          <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 03</li>
          <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 03</li>
        </ul>
      </a>

      <div class="actions listings-grid__favorite">
        <div class="actions__toggle">
          <input type="checkbox">
          <i class="zmdi zmdi-favorite-outline"></i>
          <i class="zmdi zmdi-favorite"></i>
        </div>
      </div>
    </div>

    <div class="listings-grid__item">
      <a href="listing-detail.html">
        <div class="listings-grid__main">
          <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
          <div class="listings-grid__price">$823,000</div>
        </div>

        <div class="listings-grid__body">
          <small>San Francisco, CA 900212 </small>
          <h5>Maecenas sed purus lorem aliquet cursus</h5>
        </div>

        <ul class="listings-grid__attrs">
          <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 01</li>
          <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 01</li>
          <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 0</li>
        </ul>
      </a>

      <div class="actions listings-grid__favorite">
        <div class="actions__toggle">
          <input type="checkbox">
          <i class="zmdi zmdi-favorite-outline"></i>
          <i class="zmdi zmdi-favorite"></i>
        </div>
      </div>
    </div>

    <div class="listings-grid__item">
      <a href="listing-detail.html">
        <div class="listings-grid__main">
          <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
          <div class="listings-grid__price">$1,120,000</div>
        </div>

        <div class="listings-grid__body">
          <small>21120 Broadway St, San Fransisco</small>
          <h5>Maecenas sed purus at lorem</h5>
        </div>

        <ul class="listings-grid__attrs">
          <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 03</li>
          <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 02</li>
          <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 02</li>
        </ul>
      </a>

      <div class="actions listings-grid__favorite">
        <div class="actions__toggle">
          <input type="checkbox">
          <i class="zmdi zmdi-favorite-outline"></i>
          <i class="zmdi zmdi-favorite"></i>
        </div>
      </div>
    </div>

    <div class="listings-grid__item">
      <a href="listing-detail.html">
        <div class="listings-grid__main">
          <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
          <div class="listings-grid__price">$3,000,000</div>
        </div>

        <div class="listings-grid__body">
          <small>San Francisco, CA 937202</small>
          <h5>Nullam finibus libero at hendrerit</h5>
        </div>

        <ul class="listings-grid__attrs">
          <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 06</li>
          <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 05</li>
          <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 02</li>
        </ul>
      </a>

      <div class="actions listings-grid__favorite">
        <div class="actions__toggle">
          <input type="checkbox">
          <i class="zmdi zmdi-favorite-outline"></i>
          <i class="zmdi zmdi-favorite"></i>
        </div>
      </div>
    </div>

    <div class="listings-grid__item">
      <a href="listing-detail.html">
        <div class="listings-grid__main">
          <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
          <div class="listings-grid__price">$1,175,000</div>
        </div>

        <div class="listings-grid__body">
          <small>4313 Beverly Hills, CA 90210</small>
          <h5>1358 Ligula Street, Unit 12</h5>
        </div>

        <ul class="listings-grid__attrs">
          <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 03</li>
          <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 02</li>
          <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 02</li>
        </ul>
      </a>

      <div class="listings-grid__favorite">
        <div class="actions__toggle">
          <input type="checkbox">
          <i class="zmdi zmdi-favorite-outline"></i>
          <i class="zmdi zmdi-favorite"></i>
        </div>
      </div>
    </div>
  </div>
</div>