<div class="header__recommended">
  <div class="my-location">
    <div class="my-location__title">Properties nearby your location</div>
    <div class="dropdown my-location__location hidden-xs">
      <a href="" data-toggle="dropdown"><i class="zmdi zmdi-pin"></i> San Francisco County, CA</a>

      <div class="dropdown-menu pull-right stop-propagate">
        <strong>Change Location</strong>
        <small>Set your location to get list of properties nearby you</small>

        <form>
          <div class="form-group form-group--float">
            <input type="email" class="form-control" placeholder="Enter City, State, Zip">
            <i class="form-group__bar"></i>
          </div>

          <div class="my-location__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84147.43307199534!2d-74.15863267618451!3d40.71380993356828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2slk!4v1465216708326"
              style="border:0; width: 100%; height: 250px;" allowfullscreen></iframe>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="listings-grid">

    <div *ngFor="let property of properties" class="listings-grid__item">
      <a href="listing-detail.html">
        <div class="listings-grid__main">
          <img src="./assets/demo-images/listings/{{property.thumbnail}}" width="259" height="172" alt="">
          <div class="listings-grid__price">{{property.price | currency:'USD':true}}</div>
        </div>

        <div class="listings-grid__body">
          <small>{{property.address}}</small>
          <h5>{{property.description}}</h5>
        </div>

        <ul class="listings-grid__attrs">
          <li><i class="listings-grid__icon listings-grid__icon--bed"></i> {{property.beds}}</li>
          <li><i class="listings-grid__icon listings-grid__icon--bath"></i> {{property.baths}}</li>
          <li><i class="listings-grid__icon listings-grid__icon--parking"></i> {{property.parking}}</li>
        </ul>
      </a>

      <div class="actions listings-grid__favorite">
        <div class="actions__toggle">
          <input type="checkbox">
          <i class="zmdi zmdi-favorite-outline"></i>
          <i class="zmdi zmdi-favorite"></i>
        </div>
      </div>
    </div>

  </div>
</div>